#service {
    background: #fff;
    height: 100vh;
    font-family: var(--nav-font-family);
    color: #333;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-top: 5rem;
    margin-top: 10rem;
    padding-bottom: 5rem;
    z-index: 2;
}
#service_service_text {
    margin-top: 5rem;
}
.services_text {
    width: 84vw;
    margin:0 8vw ;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-top: 5rem;
}
.services_text .service_text {
    font-family: var(--header-font-family);
    width: 80%;
    text-align: left;
    
}
.service_text h2 {
    font-family: var(--nav-font-family);
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.5rem;
    padding-bottom: 2rem;
}
.service_text h1 {
    font-size: 3.5rem;
    font-family: 'roboto', sans-serif;
    font-weight: bold;
    
}
.service_type_text p {
    font-size: 1.2rem;
}
.service_type:hover {
    transform: translate(-5px,5px);
    box-shadow: 5px 5px 0 0 var(--btn-second-color);
    transition: 0.3s ease-in-out;
    cursor: pointer;
}
.services_text strong {
    text-shadow: 2px 2px var(--btn-second-color);
}
.service_text h1:nth-child(1){
    padding-bottom: 2rem;
}
.services_text p {
    width: 50%;
    font-size: 1.8rem;
    line-height: 1.5;
    font-family: 'roboto', sans-serif;
    
}

#service .services {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 84vw;
    margin: 0 8vw;
    grid-gap: 2rem;
    margin-top: 5rem;
}
.services .service_type {
    display: flex;
    background: #fff;
    color: #333;
    padding: 2rem;
    align-items: center;
    height: 13vh;
    border: 3px var(--header-color) solid;
}


.services .service_type img {
    width: 100px;
    height: 100px;
    margin-right: 2.5rem;
}
.services .service_type h1 {
    font-family: var(--header-font-family);
    font-size: 2rem;
    padding-bottom: 1rem;
}
.btn_service {
    padding: 1.5rem 3rem ;
    background: var(--header-color);
    color: #fff;
    font-family: var(--nav-font-family);
    font-weight: 500;
    font-size: 1.5rem;
    text-transform: uppercase;
    /* box-shadow: 5px 5px 0 0 var(--shadow-color); */
    margin-top: 5rem;
}
.btn_service:hover {
    transition:  0.3s ease-in-out;
    transform: translate(-5px,5px);
    box-shadow: 5px 5px 0 0 var(--btn-second-color);
}

.fa-arrow-right {
    font-size: 1.4rem;
    padding-left: 18vw;
    display: none;
    color: var(--btn-second-color);
}

