:root {
    --nav-font-family: 'Playfair Display', sans-serif;
    --header-font-family: "Poppins", sans-serif;
    --btn-main-color:#453074;
    --shadow-color:#ff4073;
    --btn-second-color:#01d5c9;
    --header-color:#e5c080;
    --poppins-font-family:"Poppins", sans-serif;
}
a {
    text-decoration: none;
}
li {
    list-style: none;
}
img {
    width: 100%;
}
body {
    overflow-x: hidden;
    font-family: 'roboto', sans-serif;
}
html {
    scroll-behavior: smooth;
}